{{#each blogPosts as |blogPost|}}
  <div data-id="{{blogPost.id}}">
    <h1 class="resource-header">{{blogPost._owner.organization}}</h1>
    <h1 class="resource-header">{{blogPost.title}}</h1>
      <br />
      <p class="resource-body">{{blogPost.body}}</p>
      <p class="resource-body">{{blogPost.createdAt}}</p>
  </div>
{{/each}}

<span class="page-links" id="back-link">Return to Main</span>
