{{#each blogPosts as |blogPost|}}
  <div data-id="{{blogPost.id}}">
    <div class="blogborder">
    <h2 class="resource-header">{{blogPost._owner.organization}}</h2>
    <h2 class="resource-header">{{blogPost.title}}</h2>
      <br />
      <p class="resource-body">{{blogPost.body}}</p>
      <p class="resource-body">{{blogPost.createdAt}}</p>
    </div>
  </div>
  {{else}}

  <h2 class="resource-body">{{organization}} has not posted any blog entries yet</h2>
{{/each}}

<span class="page-links" id="back-link">Return to Main</span>
