{{#each blogPosts as |blogPost|}}
  <div data-id="{{blogPost.id}}">
    <h1 class="resource-header">{{blogPost._owner.organization}}</h1>
    <h1 class="resource-header">{{blogPost.title}}</h1>
      <br />
      <p class="resource-body">{{blogPost.body}}</p>
      <p class="resource-body">{{blogPost.createdAt}}</p>
      <button class="blogPost-update btn btn-sm btn-info" data-id={{blogPost.id}}>Update</button>
      <button class="blogPost-delete btn btn-sm btn-danger" data-id={{blogPost.id}}>Delete</button>
  </div>
{{/each}}
