<h1 class="resource-header">{{organization}}</h1>
<h2 class="resource-header">{{webpage.title}}</h2>
<div class="resource-body">{{webpage.body}}</div>
<button class="webpage-update btn btn-sm btn-info webpage-btn" data-id={{webpage.id}}>Update</button>
<button class="webpage-delete btn btn-sm btn-danger webpage-btn" data-id={{webpage.id}}>Delete</button>
<br>
<span class="page-links" id="back-link">Return to Main</span>
